<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ican.mapper.FriendMapper">

    <select id="selectFriendVOList" resultType="com.ican.model.vo.FriendVO">
        SELECT id, `name`, color, url, avatar, introduction
        FROM t_friend
    </select>

    <select id="selectFriendBackVOList" resultType="com.ican.model.vo.FriendBackVO">
        SELECT id, `name`, color, avatar, url, introduction, create_time
        FROM t_friend
        <where>
            <if test="keyword != null">
                `name` like concat('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY id DESC
        limit #{limit},#{size}
    </select>

</mapper>
