<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ican.mapper.MessageMapper">

    <select id="selectMessageVOList" resultType="com.ican.model.vo.MessageVO">
        SELECT id, nickname, avatar, message_content
        from t_message
        WHERE is_check = 1
    </select>

    <select id="selectMessageBackVOList" resultType="com.ican.model.vo.MessageBackVO">
        SELECT
        tm.id,
        nickname,
        avatar,
        message_content,
        ip_address,
        ip_source,
        is_check,
        create_time
        FROM
        (SELECT id FROM t_message
        <where>
            <if test="condition.keyword!=null">
                nickname like concat('%',#{condition.keyword},'%')
            </if>
            <if test="condition.isCheck!=null">
                is_check = #{condition.isCheck}
            </if>
        </where>
        ORDER BY id DESC LIMIT #{limit},#{size}) temp
        LEFT JOIN t_message tm ON temp.id = tm.id
    </select>
</mapper>
