<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ican.mapper.PhotoMapper">

    <select id="selectPhotoBackVOList" resultType="com.ican.model.vo.PhotoBackVO">
        SELECT id, photo_name, photo_desc, photo_url
        FROM t_photo
        <where>
            <if test="albumId != null">
                album_id = #{albumId}
            </if>
        </where>
        LIMIT #{limit},#{size}
    </select>
    <select id="selectPhotoVOList" resultType="com.ican.model.vo.PhotoVO">
        SELECT id, photo_url
        FROM t_photo
        WHERE album_id = #{albumId}
    </select>
</mapper>
